@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  background-color: black;
  color: white;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  margin: 30px;
}

.mainHeading{
  color: tomato;
}


.scorebox {
  font-size: 150%;
  padding-left: 40px;
  padding-right: 40px;
}

.score {
  color: green;
  font-weight: bold;
}

.choice {
  font-size: 120%;
  margin-left: 10px;
}

.choiceButton{
  color: rgb(7, 82, 92);
  border-style: none;
  background-color: black;
  font-size: 1.2rem;
}

.choiceButton:active{
  outline: none;
}


.choice:hover {
  color: blue;
  cursor: pointer;
}


.choice-id {
  font-weight: bold;
  margin-right: 4px;
}

.category {
  font-size: 120%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: tomato;
}

.difficulty {
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(221, 221, 63);
}

.answer-key {
  margin: 0 0 3px 0;
}

.results {
  font-size: 500%;
  font-weight: bolder;
  text-align: center;
  
}

.que{
  margin-top: 50px;
}

.questions{
  margin-top: 30px;
  padding: 15px;
  color: rgb(7, 82, 92);
}


.options{
  margin-top: 15px;
}


.answerKey{
  text-align: left;
}

.headAnswerKey{
  margin-top: 50px;
}

.notation{
  font-size: 1.5rem;
}

.footer{
  bottom: 0;
  right: 0;
  text-align: end;
  align-items: flex-end;
}

.linkedIn{
  outline: none;
  text-decoration: none;
}
.linkedIn:hover{
  color: blue;
}

